/.vs/Angular.Test.Web/config/applicationhost.config
/.vs/Angular.Test.Web/v18/DocumentLayout.backup.json
/.vs/Angular.Test.Web/v18/DocumentLayout.json
/.vs/FN.FileManagement.Web/CopilotIndices/18.0.988.22099/CodeChunks.db
/.vs/FN.FileManagement.Web/CopilotIndices/18.0.988.22099/SemanticSymbols.db
/.vs/FN.FileManagement.Web/DesignTimeBuild/.dtbcache.v2
/.vs/FN.FileManagement.Web/FileContentIndex/120b237a-85fc-4f30-9f23-289ce6bcb983.vsidx
/.vs/FN.FileManagement.Web/FileContentIndex/680d6f0f-f241-4936-b9fc-f55e0cbfdc1d.vsidx
/.vs/FN.FileManagement.Web/FileContentIndex/7acdd813-cee2-4c10-a0ab-7b261c4cc90a.vsidx
/.vs/FN.FileManagement.Web/FileContentIndex/9b4d6dda-2fb4-4cd6-9859-521143b83fd3.vsidx
/.vs/FN.FileManagement.Web/v18/.futdcache.v2
/.vs/FN.FileManagement.Web/v18/.suo
/.vs/FN.FileManagement.Web/v18/DocumentLayout.backup.json
/.vs/FN.FileManagement.Web/v18/DocumentLayout.json
/.vs/ProjectEvaluation/fn.filemanagement.web.metadata.v10.bin
/.vs/ProjectEvaluation/fn.filemanagement.web.projects.v10.bin
/.vs/ProjectEvaluation/fn.filemanagement.web.strings.v10.bin
